.header-container{
    padding: 0 10px;
    width: 100%;
    height:100%;
    margin: auto;
    display: flex;
    font-family: 'Roboto Slab', serif;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.header-container a{
    text-decoration:none !important;
}

.header-container .logo{
    padding: 0 50px;
    display: flex;
    padding: 10px 15px;
    background-color: white !important;
    border: none;
}

.header-container .logo:hover{
    background-color: #f3f3f3 !important;
    
}
/* 
.header-container .logo .logo-img{
    border-radius: 50px;
 
    
} */

.header-container .logo .logo-img img{
    height:40px;
}

.header-container .search{
    padding: 10px 50px 10px 20px;
    width: 100%;
}

.header-container .search .input-group{
    width:100%;
    height:100%;
    padding: 0px 40px 0px 25px;
}
.header-container .search .input-group form{
    width: 100% !important;
    position: flex;
}

.header-container .search .input-group form div{
    border:none; 
    padding: 5;
}

.header-container .search .input-group form .form-control{
    /* background-color: #EDEDED; */
    border-radius: 8px;
    border: none;
    padding: 0 0 0 20px;
    font-size: 0.9rem;
    font-family: 'Roboto Slab', serif;

}

.header-container .search .input-group .form-control:focus{
    box-shadow:  none;
    border-color: #ededed
}

.header-container .search .input-group .search-clear{
    border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}

.header-container .search .input-group .search-clear.cleared{
    display: none;
}

.header-container .search .input-group .search-clear:after{
    content: "X";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
    background-color: rgb(109, 109, 109);
    line-height: 1.3;
	z-index:1;
	right: 50px;
	top: 0px;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
    cursor: pointer;
    transform: translate3d(0px, -10px, 0px);
}

.header-container .search .search-result-wrapper.false{
    display:none;
}

.header-container .search .search-result-wrapper.true{
    display:block;
}

.header-container .search .search-result-wrapper{
    position: absolute;
    z-index: 10;
    background-color: white;
    width:auto;
    white-space: nowrap;
    min-height: 30px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
    transform: translate3d(40px, -18px, 0px);
}

.header-container .functionButtons{
    display: inherit;
    padding: 20px;
}

.header-container .functionButtons div{
    padding: 0px 10px;
    opacity: 1;
}

.header-container .functionButtons .notification-button{
    margin-top:-7px;
}

.header-container .functionButtons .notification-button .btn-group button {
    color: #979797;
}

.header-container .functionButtons .notification-button .btn-group button.true {
    color:red
}

.header-container .functionButtons .notification-button .btn-group button:hover{
    color:black;
}

.header-container .functionButtons .notification-button .dropdown-toggle::after{
    display:none;
} 

.header-container .functionButtons .notification-button .dropdown-menu{
    width:250px;
    transform: translate3d(-150px, 38px, 0px);
    font-size: 0.9rem;
    padding : 0;
    max-height: 500px;
    overflow: auto;
}
.header-container .functionButtons .notification-button .dropdown-menu .child.fail{
    padding: 10px 10px;
    background-color: #ffe9e9;
    border-bottom: 1px solid #cacacad0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.header-container .functionButtons .notification-button .dropdown-menu .child{
    padding: 10px 10px;
    border-bottom: 1px solid #cacacad0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.header-container .functionButtons .notification-button .dropdown-menu .child:hover{
    background-color: #ebebeb;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.header-container .functionButtons .notification-button .dropdown-menu .child.false{
    padding: 10px 10px;
    background-color: #e9f7ff;
    border-bottom: 1px solid #cacacad0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.header-container .functionButtons .notification-button .dropdown-menu .child a{
    color:black;
}

.header-container .functionButtons .notification-button .dropdown-menu .child a .time{
    text-align:right;
    font-size:0.5rem;
    color: #797979;
}

.header-container .account{
    padding: 10px 20px;
    
}

.header-container .account .btn-group button{
    background: none;
    color: black;
    border:none;
    display: flex;
}


.header-container .account .btn-group .btn:focus,.header-container .account .btn-group .btn:active{
    border:none !important;
    box-shadow: none;
    
}

.header-container .account .btn-group .btn[aria-expanded="true"]{
    background-color:#dedede;
}

.header-container .account .avatar{
    width: 30px;
    height:30px;
    background:rgb(28, 196, 50);
    border-radius:4px;
}

.header-container .account .content{
    display: inline-block;
    padding-left: 10px;
    text-align:left;
}

.header-container .account .content .username{
    font-size: 0.9rem;
    line-height: 1;
}

.header-container .account .content .point{
    font-size: 0.8rem;
    color: #8A8888;
}

.header-container .account .btn-group .dropdown-toggle::after {
    margin-top:.9em;
    margin-left:.9em;
    color:#797979;
}

@media only screen and (max-width: 1024px) {
  

    .header-container .search{
        padding: 10px;
    }

    .header-container .search .input-group{
        padding:0 ;
    }
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header-container .logo .logo-name{
      display: none;
    }

    .header-container .search{
        padding: 10px;
    }

    .header-container .search .input-group{
        padding:0 ;
    }

    .header-container .functionButtons{
        padding:20px 10px ;
    }
  }

  @media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .header-container{
        padding: 0;
    }
    .header-container .functionButtons{
        padding:5px 5px ;
        display: inline-block;
    }

    .header-container .account{
        padding: 10px 0;
    }

    .header-container .account .content{
        display: none;
    }
  }